<h2 class="title">World</h2>
<div class="article1">
    <figure class="content1">
        <img src="img/money.jpg" alt="The value of money" /> 
        <figcaption>The value of money</figcaption>
     </figure>
     <p>
        In today's world, money is often seen as the key to success and happiness. However, its true value is often debated. Some argue that money is the only way to achieve financial stability and security, while others believe that there are more important things in life than money.
        What do you think? Is money the most important thing in life? Are there things that are more valuable than money?
    </p>
</div>

<h2>GMO food</h2>
<div class="article1">
    <figure class="content1">
        <img src="img/food.jpg" alt="Fishing for money" /> 
         <figcaption>GMO food</figcaption>
    </figure>
    <p>
            Genetically modified organisms (GMOs) have become a controversial topic in recent years. Some argue that they are necessary for feeding a growing population, while others believe that they pose health risks and could harm the environment.
        What do you think? Are GMOs a solution to world hunger or a threat to our health and the environment?
    </p>
</div>
      
<h2>The View of World in 2100</h2>
<div class="article1">
    <figure class="content1">
        <img src="img/world.jpg" alt="Fishing for money" /> 
         <figcaption>The View of World in 2100</figcaption>
    </figure>
    <p>
            Genetically modified organisms (GMOs) have become a controversial topic in recent years. Some argue that they are necessary for feeding a growing population, while others believe that they pose health risks and could harm the environment.
        What do you think? Are GMOs a solution to world hunger or a threat to our health and the environment?
    </p>
</div>

   
