
 <h2>My portfolio</h2>
      <div class="portfolio-container">
        <figure>
            <img src="img/portfolio1.jpg" alt="Fishing for money" /> 
            <figcaption>portfolio1</figcaption>
         </figure>
         <figure>
            <img src="img/portfolio2.jpg" alt="The value of money" /> 
            <figcaption>portfolio2</figcaption>
         </figure>
         <figure>
            <img src="img/portfolio3.jpg" alt="The value of money" /> 
            <figcaption>portfolio3</figcaption>
         </figure>
         <figure>
            <img src="img/portfolio4.jpg" alt="Money Man" /> 
            <figcaption>portfolio4</figcaption>
         </figure>
         <figure>
            <img src="img/portfolio5.jpg" alt="More Money" /> 
            <figcaption>portfolio5</figcaption>
         </figure>
         <figure>
            <img src="img/portfolio6.jpg" alt="Money Trap" /> 
            <figcaption>portfolio6</figcaption>
         </figure>
      </div>
   
